
@{
    ViewData["Title"] = "Registration";
  
}

<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
                <div class="card border-2 shadow-sm rounded-4">
                    <div class="card-body p-3 p-md-12 p-xl-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">

                                    <h1 class="h3 d-flex justify-content-center">Registration</h1>

                                </div>
                            </div>
                        </div>

                        <form>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="FName">First name</label>
                                    <input type="text" class="form-control" id="FName" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="LName">Last name</label>
                                    <input type="text" class="form-control" id="LName" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="Email" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="DropDepartment">Department</label>
                                    <select id="DropDepartment" class="form-control" required>
                                        <option value="0">Select</option>
                                    </select>
                                </div>
                                @*  <div class="col-md-6 mb-3">
                                <label for="DropSkill">Skill</label>
                                <select id="DropSkill" class="form-control">
                                <option >Select</option>
                                </select>
                                </div> *@

                                @* <div class="form-group col-md-6 mb-3">
                                <label for="DropSkill">Skill</label>
                                <div id="myMultiselect" class="multiselect">
                                <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
                                <select id="DropSkill" class="form-control">
                                <option>Select</option>
                                </select>
                                <div class="overSelect"></div>
                                </div>
                                <div id="mySelectOptions">
                                <label><input type="checkbox" id="one" onchange="checkboxStatusChange()" value="one" /> First checkbox</label>
                                <label for="two"><input type="checkbox" id="two" onchange="checkboxStatusChange()" value="two" /> Second checkbox</label>
                                <label for="three"><input type="checkbox" id="three" onchange="checkboxStatusChange()" value="three" /> Third checkbox</label>

                                </div>
                                </div>
                                </div> *@

                                <div class="form-group col-md-12 mb-3">
                                    @* label of Skill *@
                                    <label for="DropSkill">Skill</label>

                                    @* DropDown Selected Value *@
                                    <div id="myMultiselect" class="multiselect">
                                        <div id="mySelectLabel" class="selectBox" onclick="toggleCheckboxArea()">
                                            <select class="form-control">
                                                <option>Select</option>
                                            </select>
                                            <div class="overSelect"></div>
                                        </div>
                                        <div id="DropSkill" style="display:none">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label for="Proficiency">Proficiency Level:</label>
                                    <input id="Proficiency" class="form-control" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="Roll">Roll</label>
                                    <input id="Roll" class="form-control" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="Password">Password</label>
                                    <input type="password" id="Password" class="form-control" required>
                                </div>

                                @*    <div class="form-group col-md-6 mb-3">
                                <label>Proficiency Level:</label>
                                <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="beginnerRadio" id="beginnerRadio" value="Beginner">
                                <label class="form-check-label" for="beginnerRadio">
                                Beginner
                                </label>
                                </div>
                                <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="intermediateRadio" id="intermediateRadio" value="Intermediate">
                                <label class="form-check-label" for="intermediateRadio">
                                Intermediate
                                </label>
                                </div>
                                <div class="form-check-inline">
                                <input class="form-check-input" type="radio" name="expertRadio" id="expertRadio" value="Expert">
                                <label class="form-check-label" for="expertRadio">
                                Expert
                                </label>
                                </div>
                                </div> *@
                                <div class="col-12 mt-3 col d-flex justify-content-center">

                                    <button type="button" class="btn-primary btn-lg align-content-center" onclick="AddEmpData();">Submit</button>

                                </div>
                            </div>
                        </form>
                        <div class="row">

                            <br />
                            @* <hr />
                            <div class="col d-flex justify-content-center">

                            <p>Have a Employee? &nbsp;&nbsp;<button type="button" class="btn .btn-lg btn-danger text-white"> <a href="/home/EmployeeDetail" class="text-white" style="text-decoration:none">Login</a></button></p>
                            </div> *@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section scripts{


    <script src="/js/customsc.js"></script>
    <script src="/js/custom.js"></script>

}

